body {
    background-image: url('https://graduate.binus.ac.id/files/2023/04/GAMBAR-SPLAH-10-scaled.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}